html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #f1f1f1;
  padding: 15px;
  text-align: center;
}

Header {
  background-color: #333;
  color: white;
  padding: 15px 40px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
  color: yellow;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap:25px;
}

nav ul li a{
  color:#f7f1f1;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

nav ul li a:hover{
  color:yellow;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:70px 60px;
  background: linear-gradient(135deg, #41526b, #0c5fe6);
}

.heroText {
  width: 50%;
}

.heroText h2 {
  font-size: 42px;
  margin-bottom: 20px;
  color:aqua;
}

.heroText p {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.6;
}

.heroText button {
  padding: 12px 28px;
  font-size: 18px;
  background-color: #0c5fe6;
  border: none;
  border-radius: 25px;
  
}

.heroText button:hover {
  background-color: #080a0f;
}

.heroImage {
 width: 360px;
 height:280px;
background-color:white;
border: 3px dashed #0c5fe6;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;

}